﻿@model EssentialCFO.SSO.Models.LoginResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authenticated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginResponse)
            </th>
            <th></th>
        </tr>
    
        <tr>
            <td>
                @Html.DisplayFor(model => model.Authenticated)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserID)
            </td>
            <td>
                @Html.DisplayFor(model => model.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Mobile)
            </td>
            <td>
                @Html.DisplayFor(model => model.OrganizationDescription)
            </td>
            <td>
                @Html.DisplayFor(model => model.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Town)
            </td>
            <td>
                @Html.DisplayFor(model => model.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.State)
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.LoginResponse)
            </td>
        </tr>
    
    </table>
</body>
</html>
