﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        <input id="Username" name="Username" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input id="Password" name="Password" type="text" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="Submit1" type="submit" value="submit" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="@Url.Action("ssologin", "home")">EssentialCFO Login</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
